<div class="login-page-container">
    <div class="login-container">
        <div class="login-text-container">LOG IN</div>
        <form>
            <div class="form-group credential-inputs shadow-sm">
                <input type="text" class="form-control" placeholder="Enter email or userid"/>
                <input type="password" class="form-control" placeholder="Enter password"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn">Login</button>
            </div>
        </form>
    </div>
</div>
