<div class="leaderboard-container">
  <div class="row app-title">
    Leaderboard App
  </div>
  <div class="row add-button" *ngIf="!showAddLeaderView">
    <button class="btn" (click)="showAddLederForm()">Add Leader</button>
  </div>
  <div class="row leaderboard-lists-containers" *ngIf="!showAddLeaderView">
    <div class="col-sm-6 leaderboard-list-1" *ngIf="itemList.length>0">
      <div class="row list-item leaderboard-list-item" *ngFor="let item of itemList">
        <div class="col-sm-6 leader-name">
          {{item.name}}
        </div>
        <div class="col-sm-3 leader-points">{{item.points}}</div>
        <div class="col-sm-3 row leader-actions">
          <i class="fa fa-plus" (click)="increamentPoints(item.id)" aria-hidden="true"></i>
          <i class="fa fa-minus" (click)="decreamentPoints(item.id)" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col-sm-6 leaderboard-list-2" *ngIf="itemList.length>0">
      <div class="row list-item leaderboard-list-item" *ngFor="let item of itemList">
        <div class="col-sm-6 leader-name">
          {{item.name}}
        </div>
        <div class="col-sm-3 leader-points">{{item.points}}</div>
        <div class="col-sm-3 row leader-actions">
          <i class="fa fa-plus" (click)="increamentPoints($event,item.id)" aria-hidden="true"></i>
          <i class="fa fa-minus" (click)="decreamentPoints(item.id)" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="row leaderboard-add-leader-container" *ngIf="showAddLeaderView">
    <label for="leaderName">Leader Name</label>
    <input type="text" [(ngModel)] = "leaderName"/>
    <button class="btn" (click)="addLeader()">Add Leader</button>
  </div>
</div>