/* You can add global styles to this file, and also import other style files */
body{
    margin:0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.leaderboard-container{
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
}
.app-title{
    margin-left: 0px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}
.button-style{
    border: none;
    background: none;
}
.add-leader{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
}
